* {
    box-sizing: border-box;
}
:root {
    --color-bordes: rgb(71, 15, 71);
    --color-fondo-encabezados: #7e2b68;
    --color-fondo-links: #c57caf;
    --color-font-links: #3d6272;
    --color-semana-par: #83b396;
}
h1 {
    text-align: center;
    font-family: fantasy;
}
.tabla {
    margin: auto;
    border: 2px solid var(--color-bordes);
    border-collapse: collapse;
}
th, td {
    border: 4px solid var(--color-bordes); 
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.encabezado {
    background-color: var(--color-fondo-encabezados);
}
.ejercicios {
    background-color: var(--color-fondo-links);
}
a:hover {
    color: var(--color-font-links);
    font-weight: bold;
}
a {
    color: black;
    text-decoration: none;
}
tr.par td {
    background: var(--color-semana-par);
}
.hecho {
    filter: blur(1.5px);
}
